* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
}

body {
    background: black;
}

.back-img {
    position: absolute;
    z-index: 0;
}

/********************
cards
********************/
.card-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}

.card {
    opacity: .9;
}

.card-margin {
    margin-left: 150px;
    margin-right: 100px;
}

.card-ul {
    margin-left: 20px;
}

#flash-info {
    display: none;
}

#flash-title {
    width: 640px;
}